<form>
  <fieldset class="form-group">
      <div class="row">
          <div class="col">
              <div class="form-group">
                  <label for="firstName">FIRST NAME</label>
                  <input type="text" [(ngModel)]="contact.firstName" class="form-control" name="firstName" aria-describedby="emailHelp" placeholder="Enter FIRST NAME">
              </div>
          </div>
          <div class="col">
            <div class="form-group">
                <label for="lastName">LAST NAME</label>
                <input type="text" [(ngModel)]="contact.lastName" class="form-control" name="lastName"  placeholder="Enter LAST NAME">
            </div>  
          </div>  
      </div> 
      <div class="row">
          <div class="col">
              <div class="form-group">
                  <label for="email">EMAIL</label>
                  <input type="EMAIL" [(ngModel)]="contact.email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
          </div>
          <div class="col">
            <div class="form-group">
                <label for="phone">PHONE</label>
                <input type="text" [(ngModel)]="contact.phone" class="form-control" name="phone"  placeholder="Enter PHONE">
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <div class="form-group">
                  <label for="exampleSelect1">Gender</label>
                  <select class="form-control" name="gender" [(ngModel)]="contact.gender">
                    <option>Male</option>
                    <option>Female</option>
                  </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="bio">Bio</label>
                <textarea [(ngModel)]="contact.bio" class="form-control" name="bio" rows="3"></textarea>
              </div>
            </div>
      </div> 
  </fieldset>

  <fieldset class="form-group">
      <div class="row">
          <div class="col">
              <div class="form-group">
                  <label for="lineOne">LINE ONE</label>
                  <input type="text" [(ngModel)]="contact.address.lineOne" class="form-control" name="lineone" aria-describedby="emailHelp" placeholder="Enter Line one">
              </div>
          </div>
          <div class="col">
            <div class="form-group">
                <label for="lastName">Line tow</label>
                <input type="text" [(ngModel)]="contact.address.lineTwo" class="form-control" name="linetwo"  placeholder="Enter Line two">
            </div>  
          </div>  
      </div> 
      <div class="row">
          <div class="col">
              <div class="form-group">
                  <label for="city">CITY</label>
                  <input type="text" [(ngModel)]="contact.address.city" class="form-control" name="city" aria-describedby="emailHelp" placeholder="Enter city">
              </div>
          </div>
          <div class="col">
            <div class="form-group">
                <label for="phone">STATE</label>
                <input type="text" [(ngModel)]="contact.address.state" class="form-control" name="state"  placeholder="Enter STATE">
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <div class="form-group">
                  <label for="zipcode">Zip code</label>
                  <input type="text" [(ngModel)]="contact.address.zipCode" class="form-control" name="zipcode" aria-describedby="emailHelp" placeholder="Enter ZIP CODE">
              </div>
          </div>
          <div class="col">
            <div class="form-group">
                <label for="country">COUNTRY</label>
                <input type="text" [(ngModel)]="contact.address.country"  class="form-control" name="country"  placeholder="Enter COUNTRY">
            </div>
          </div>
      </div>

  </fieldset>
<div class="">
  <div class="form-group pull-right">
      <button type="submit" class="btn btn-primary" (click)="saveContact()" >Submit</button>
  </div>

</div>
  
</form>